<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <!-- SIMPLE、REUSE、BATCH -->
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <!-- statement timeout in seconds -->
        <setting name="defaultStatementTimeout" value="600"/>
        <!-- whether mapping using camel case  -->
        <setting name="mapUnderscoreToCamelCase" value="false"/>
    </settings>
</configuration>